<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :uuid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uuid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subtitle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtitle, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publisher, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :publisher, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :originPlace, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :originPlace, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dateIssued, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dateIssued, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :languageISO, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :languageISO, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :languageText, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :languageText, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :physicalExtent, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :physicalExtent, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :physicalLocation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :physicalLocation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn' %>
  </div>
<% end %>
