<!-- SEARCH
---------------------------------------------------------------------------->
<div class="container">
  <div class="row">
    <div class="span8 offset2">

        <form action="/" method="get" accept-charset="utf-8" class="text-center">
          <%= render_hash_as_hidden_fields(params_for_search().except(:q, :search_field, :qt, :page, :utf8)) %>
          <input type="text" name="search_field" id="js_search_field" value="<%= params[:search_field] || 'all_fields'%>" class="hidden"/>
          <div class="input-prepend input-append">
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown" id="js_search_type_button">
                <%=t (params[:search_field] || 'Action') %> <span class="caret"></span></button>
              <%= render_search_dropdown(search_fields) %>
            </div>

            <label for="appendedPrependedDropdownButton" class="hide-text"><%= t('blacklight.search.form.q') %></label>
            <input class="span2" id="appendedPrependedDropdownButton" name='q' type="text" value="<%= params[:q] rescue nil %>" autofocus="<%= should_autofocus_on_search_box? %>">
            <div class="btn-group">
              <button class="btn" type="submit">
                <i class="icon-search"></i>
                <span class="submit-search-text hide"><%=t('blacklight.search.form.submit')%></span>
              </button>
            </div>


          </div>
        </form>

    </div>
  </div>
</div>
</div>
